.container{
    height: 100vh;
    background-color: #f5f2c7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    header{
        background-color: #726969;
        border: 1px solid rgb(192, 192, 192);
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 10px;
        h1{
            margin-left: 43%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #cd8500;
        }
    }
    .boddy{
        .back-home-page{
            button{
                font-size: 30px;
                margin-left: 50px;
                margin-top: 50px;
                padding: 3px 15px 4px 15px;
                border-style: none;
                border-radius: 25px;
                background-color: rgb(205, 205, 205);
                cursor: pointer;
                &:hover{
                    color: white;
                    background-color: black;
                    transition: 0.3s;
                }
            }
        }
        .add-post{
            display: flex;
            flex-direction: column;
            width: 45%;
            margin-left: 25%;
            border-radius: 30px;    
            background-color: white;
            h1{
                margin-left: 45%;
                margin-top: 5%;
            }
            input{
                margin-top: 5%;
                width: 40%;
                margin-left: 30%;
                padding: 5px;
                border: none;
                border-radius: 5px;
                background-color:#f5f2c7;
            }
            button{
                margin: 3% 44%;
                padding: 5px;
                width: 12%;
                border: none;
                border-radius: 5px;
                background-color: rgb(7, 7, 187);
                color: white;
                cursor: pointer;
                &:hover{
                    background-color: rgb(228, 230, 255);
                    color: rgb(7, 7, 187);
                    transition: 0.3s;
                }
            }
            .confirm{
                width: 100%;
                p{
                    font-size: 20px; 
                    font-weight: bold; 
                    margin-top: 20px;
                    margin-left: 35%;
                }
                button{
                    margin: 3% 40%;
                    padding: 5px;
                    width: 20%;
                    border: none;
                    border-radius: 5px;
                    background-color: rgb(7, 7, 187);
                    color: white;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(228, 230, 255);
                        color: rgb(7, 7, 187);
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}
